/*== Responsive ==*/

/*== Smartphone/ Mobile ==*/

@media only screen and (max-width: 480px) {
    .container {
        width: inherit;
    }
    nav {
        display: none;
    }
    .one-third{
    	width: 100%;
    }
    #bio p {
        margin-right: 40px;
        margin-left: 40px;
    }

    /*
    .up {
    	position: relative;
    }
    ul {
    	padding-right: 0px;
    }
    */
}

/*== Tablets ==*/

@media only screen and (min-width: 480px) and (max-width: 800px) {
    .container {
        width: inherit;
    }
    nav {
        display: none;
    }
    .one-third{
    	width:50%;
    }
    #bio p {
        margin-right: 100px;
        margin-left: 100px;
    }
}

/*== Desktops ==*/

@media only screen and (min-width: 800px) {
    .menu {
        display: none;
    }
    .container {
        width: inherit;
    }
}