/*CSS stands for creating sick stuff*/

header {
	position: relative;
	display: block;
	background-color: #F8AD72;
	background-size: cover;
	background-position: center center;
	padding: 200px 0px;
}

h1 {
color: white;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3.52px;
}


h2 {
  color: black;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

h3{
	color: white;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.05px;
}

p {
	color: black;
	font-size: 14px;
	font-family: Open Sans;
	text-align: center;
}

.fa-ul li{
  color: blue;
  display: inline;
  padding-right: 10%;
  
}

.fa-ul {
  text-align: center;
}

#contact {
  background-color: gray;
  padding: 1em 1em 2em 1em;
}
