/*CSS stands for creating sick stuff*/

header {
	position: relative;
	display: block;
	background-color: #F8AD72;
	background-size: cover;
	background-position: center center;
	padding: 200 px 0px;
}

h1 {
color: white;
  font-size: 24px;
  font-family: Open Sans;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}


h2 {
  color: black;
  font-size: 20px;
  font-family: Open Sans;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

h3{
	color: white;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

p {
	color: black;
	font-size: 14px;
	font-family: Open Sans;
}