@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat|Crimson+Text:400,400italic);
/*== CSS ==*/
/*== typography ==*/

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14pt;
    text-align: center;
    color: #344050;
}

h1 {
    font-size: 70pt;
    text-transform: uppercase;
    line-height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
    padding-top: 200px;
}

h2 {
    font-size: 16pt;
    text-transform: uppercase;
}

nav a {
    font-size: 10pt;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 60px;
    color: #ffffff;
}

header h2 {
    font-size: 10pt;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 200px;
}

#bio p{
	font-family: 'Crimson Text', 'Times New Roman', serif;
    font-size: 14pt;
    text-align: center;
    color: #344050;
}
footer p{
	font-size: 8pt;
	color: #717C80;
}

.proj-info p{
    font-size: 12pt;
    text-transform: uppercase;
}
/*== backgrounds ==*/

#nav {
    background-color: #7ACCC8;
    background-size: cover;
    padding-top: 20px;
}

#home-header {
    background-color: #7ACCC8;
    background-size: cover;
}
#projects {
	background-color: #EFEFEF;
}
#asi {
    background-image: url('media/asi3.jpg');
    background-size: cover;
}

#evals {
    background-image: url('media/eval3.jpg');
    background-size: cover;
}

#ace-infographic {
    background-image: url('media/ace_stats3.jpg');
    background-size: cover;
}

#nonprofit {
    background-image: url('media/nonprofit2.jpg');
    background-size: cover;
}

#tshirt {
    background-image: url('media/beyshirt_mockup3.jpg');
    background-size: cover;
}

#poster {
    background-image: url('media/typeposter_mockup3.jpg');
    background-size: cover;
}

footer{
	background-color: #7ACCC8;
	background-size: cover;

}

/*== padding, margins ==*/
body {
    margin: 0px;
    padding: 0px;
}
#projects {
	padding-top: 125px;
	padding-bottom: 125px;
}
#projects h2{
	padding-bottom: 30px;
}
#projects .one-third {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
}

.proj-info p{
    padding-left: 15px;
    padding-right: 15px;
}

#bio {
	margin-top: 150px;
	margin-bottom: 150px;
    
}

#bio p {
    margin-right: 200px;
    margin-left: 200px;
}

#connect {
	margin-top: 125px;
	padding-bottom: 10px;
}

#social-media{
	margin-bottom: 125px;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
}

ul {
    padding-left:0px;
    padding-right: 90px;
}

/*== extras ==*/

#social-media li {
    list-style-type: none;
    display: inline-block;
    /* font-size: 30pt; */
    padding-right: 30px;
}

#social-media a {
    text-decoration: none;
    color: #344050;
}

.button {
    color: #344050;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10pt;
    border: solid;
    display: inline-block;
    border-radius: 8px;
    border-width: 2px;
    text-transform: uppercase;
}

#projects .button {
    color: #ffffff;
    text-decoration: none;
    margin-top: 25px;
}

#social-media .button{
    color: #344050;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10pt;
    border: solid;
    display: inline-block;
    border-radius: 8px;
    border-width: 2px;
    text-transform: uppercase;
}

footer p {
    text-align: left;
}

.work {
    height: 240px;
    position: relative;
}

fa {
    padding-top: 50px;
}

.proj-info{
    postion: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	color:#ffffff;
	background-color: rgba(0,0,0,0.8);
	opacity:0;
    transition: all 0.5s;
    padding-top: 25px;
}


.proj-info:hover{
    opacity:1;
}

.up {
    position: absolute;
}
/*== grid ==*/

* {
    box-sizing: border-box;
}

.one-whole {
    width: 100%;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33%;
}

.one-fourth {
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.container {
    width: 955px;
    margin: auto;
}

/*== Pseudo classes ==*/
#nav a:hover{
	color: #344050;
}
.menu:hover {
    color: #344050;
}

#social-media a:hover{
color: #7ACCC8;
}

#social-media .button {
    position: relative;
}

#projects .button:hover {
    color: #000000;
    background-color: #ffffff;
    border:none;
}


/*== responsive ==*/
.menu {
    text-align: right;
    padding-top: 0px;
    padding-right: 5px;
    color: #ffffff;
}

